(
    palette: Light((
        name: "origami-paper-light",
        bright_red: ( // Brighter, saturated "Paprika"
            red: 0.8156863,
            green: 0.5294118,
            blue: 0.4392157,
            alpha: 1.0,
        ),
        bright_green: ( // "Moss Green"
            red: 0.6392157,
            green: 0.74509805,
            blue: 0.54901963,
            alpha: 1.0,
        ),
        bright_orange: ( // "Parchment Yellow"
            red: 0.92156863,
            green: 0.79607844,
            blue: 0.54509807,
            alpha: 1.0,
        ),
        gray_1: ( // "Vellum White"
            red: 0.9254902,
            green: 0.9372549,
            blue: 0.95686275,
            alpha: 1.0,
        ),
        gray_2: ( // "Light Paper Grey"
            red: 0.8980392,
            green: 0.9137255,
            blue: 0.9411765,
            alpha: 1.0,
        ),
        neutral_0: ( // Template default ramp
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
        ),
        neutral_1: ( // Template default ramp
            red: 0.8862745,
            green: 0.8862745,
            blue: 0.8862745,
            alpha: 1.0,
        ),
        neutral_2: ( // Template default ramp
            red: 0.7764706,
            green: 0.7764706,
            blue: 0.7764706,
            alpha: 1.0,
        ),
        neutral_3: ( // Template default ramp
            red: 0.67058825,
            green: 0.67058825,
            blue: 0.67058825,
            alpha: 1.0,
        ),
        neutral_4: ( // Template default ramp
            red: 0.5686275,
            green: 0.5686275,
            blue: 0.5686275,
            alpha: 1.0,
        ),
        neutral_5: ( // Template default ramp
            red: 0.46666667,
            green: 0.46666667,
            blue: 0.46666667,
            alpha: 1.0,
        ),
        neutral_6: ( // Template default ramp
            red: 0.36862746,
            green: 0.36862746,
            blue: 0.36862746,
            alpha: 1.0,
        ),
        neutral_7: ( // Template default ramp
            red: 0.2784314,
            green: 0.2784314,
            blue: 0.2784314,
            alpha: 1.0,
        ),
        neutral_8: ( // Template default ramp
            red: 0.1882353,
            green: 0.1882353,
            blue: 0.1882353,
            alpha: 1.0,
        ),
        neutral_9: ( // Template default ramp
            red: 0.105882354,
            green: 0.105882354,
            blue: 0.105882354,
            alpha: 1.0,
        ),
        neutral_10: ( // Template default ramp
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
        ),
        accent_blue: ( // "Indigo"
            red: 0.36862746,
            green: 0.5058824,
            blue: 0.6745098,
            alpha: 1.0,
        ),
        accent_indigo: ( // Darker "Indigo"
            red: 0.2627451,
            green: 0.40784314,
            blue: 0.5764706,
            alpha: 1.0,
        ),
        accent_purple: ( // Dark "Muted Purple"
            red: 0.56078434,
            green: 0.44313726,
            blue: 0.54509807,
            alpha: 1.0,
        ),
        accent_pink: ( // Dark "Muted Red"
            red: 0.6039216,
            green: 0.30980393,
            blue: 0.3372549,
            alpha: 1.0,
        ),
        accent_red: ( // Dark "MMuted Red"
            red: 0.6039216,
            green: 0.30980393,
            blue: 0.3372549,
            alpha: 1.0,
        ),
        accent_orange: ( // Dark "Parchment Yellow"
            red: 0.7254902,
            green: 0.63529414,
            blue: 0.43529412,
            alpha: 1.0,
        ),
        accent_yellow: ( // Dark "Parchment Yellow"
            red: 0.7254902,
            green: 0.63529414,
            blue: 0.43529412,
            alpha: 1.0,
        ),
        accent_green: ( // Dark "Moss Green"
            red: 0.50980395,
            green: 0.59607846,
            blue: 0.4392157,
            alpha: 1.0,
        ),
        accent_warm_grey: ( // "Slate Grey"
            red: 0.2901961,
            green: 0.33333334,
            blue: 0.40784314,
            alpha: 1.0,
        ),
        ext_warm_grey: ( // "Light Paper Grey"
            red: 0.84705883,
            green: 0.87058824,
            blue: 0.9137255,
            alpha: 1.0,
        ),
        ext_orange: ( // "Parchment Yellow"
            red: 0.92156863,
            green: 0.79607844,
            blue: 0.54509807,
            alpha: 1.0,
        ),
        ext_yellow: ( // "Parchment Yellow"
            red: 0.92156863,
            green: 0.79607844,
            blue: 0.54509807,
            alpha: 1.0,
        ),
        ext_blue: ( // "Ice Blue"
            red: 0.53333336,
            green: 0.7529412,
            blue: 0.8156863,
            alpha: 1.0,
        ),
        ext_purple: ( // "Muted Purple"
            red: 0.7058824,
            green: 0.55686277,
            blue: 0.6784314,
            alpha: 1.0,
        ),
        ext_pink: ( // "Muted Red"
            red: 0.7490196,
            green: 0.38039216,
            blue: 0.41568628,
            alpha: 1.0,
        ),
        ext_indigo: ( // "Sky Blue"
            red: 0.5058824,
            green: 0.63137257,
            blue: 0.75686276,
            alpha: 1.0,
        ),
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (2.0, 2.0, 2.0, 2.0),
        radius_s: (8.0, 8.0, 8.0, 8.0),
        radius_m: (8.0, 8.0, 8.0, 8.0),
        radius_l: (8.0, 8.0, 8.0, 8.0),
        radius_xl: (8.0, 8.0, 8.0, 8.0),
    ),
    neutral_tint: Some(( // "Slate Grey"
        red: 0.2901961,
        green: 0.33333334,
        blue: 0.40784314,
    )),
    bg_color: Some(( // "Paper White"
        red: 0.9607843,
        green: 0.96862745,
        blue: 0.98039216,
        alpha: 1.0,
    )),
    primary_container_bg: Some(( // "Vellum White"
        red: 0.9254902,
        green: 0.9372549,
        blue: 0.95686275,
        alpha: 1.0,
    )),
    secondary_container_bg: None,
    text_tint: Some(( // "Carbon Paper"
        red: 0.101960786,
        green: 0.11372549,
        blue: 0.14117648,
    )),
    accent: Some(( // "Indigo"
        red: 0.36862746,
        green: 0.5058824,
        blue: 0.6745098,
    )),
    success: Some(( // Dark "Moss Green"
        red: 0.50980395,
        green: 0.59607846,
        blue: 0.4392157,
    )),
    warning: Some(( // Dark "Parchment Yellow"
        red: 0.7254902,
        green: 0.63529414,
        blue: 0.43529412,
    )),
    destructive: Some(( // Dark "Muted Red"
        red: 0.6039216,
        green: 0.30980393,
        blue: 0.3372549,
    )),
    is_frosted: false,
    gaps: (0, 4),
    active_hint: 3,
    window_hint: None,
)